body{
  font-size: 13px;
}

input, label, textarea, select{
  font-family: 'Open Sans', sans-serif;
}

#register{
  background-color:#44ac2f;
  margin-top:5px;
}
#register a{
  color:white ;
  text-shadow: none ;
  padding: 3px 10px;

}

.well{
	background-color: #d8d8d8;
}



.zz-btn{
  background-color:#44ac2f;
  border:0;
  padding:3px;
  padding: 3px 13px;
  color : white;
  margin-bottom: 9px;
  margin-left: 5px;
}
.zz-btn.signUp{
    background-color: #E32B37;
    border: 2px solid #BD131E;
    color: white;
    font-size: 26pt;
    margin: auto;
    padding: 23px 54px;
    text-transform: uppercase;
    display:block ;
    margin-bottom: 50px;

  -webkit-border-radius: 12px;
        border-radius: 12px;
}


.zz-btn:not(.disabled):hover{
  background-color:#39CE1A;
}
.zz-btn.signUp:not(.disabled):hover{
  background-color:#EB0312;
}

.zz-btn.disabled,.zz-btn[disabled] {
  opacity:.3;
}

.navbar-inner {
	background-color: white;
	background-image: none;
	background-repeat: no-repeat;
	filter: none;
	box-shadow:none;
	-webkit-box-shadow:none !important;
	-moz-box-shadow:none !important;

	height:71px;
}
.navbar .container{
	position: relative;
}
.navbar .nav{
  font-family: 'Open Sans Condensed', sans-serif;
	float:right;
	margin-top: 28px;
  font-size: 11pt;
}

.navbar .nav li a{
	font-weight:bold;
  width: auto;
	text-transform: uppercase;
}
.brand{
	position:relative;
}

#landing{

	margin-bottom:50px;
	height:425px;
	width:100%;
	background:#a6a6a6;
}
#landing .container{
	background: url('../img/slider.png')  center no-repeat;
	background-size: 100% auto;
	height:425px;
}

#language-filter {
  font-family: 'Open Sans', sans-serif;
}

#language-filter input{
	position:absolute;
}
#language-filter label{
  margin-right:20px;
}

#clear-filters{
  font-family: 'Open Sans', sans-serif;
  float: left;
  margin-top: 6px;
  background-color: #f0f0f0;
  color: #777777;
  padding: 11px 13px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  font-size: 15pt;
  text-align: center;
}


#place-filter input{
  font-family: 'Open Sans', sans-serif;
  width:100%;
  font-size: 21pt;
  height: 36px;
  line-height: 24pt;
}

#wrapper-date-filter{
  position:relative;
}
#wrapper-date-filter .icon{
  position: absolute;
  right: -42px;
  background: url('../img/calendario.png') center no-repeat;
  height: 36px;
  width: 100px;
  top: 9px;
  pointer-events: none;
}
#date-filter input{
  font-family: 'Open Sans', sans-serif;
  width:100%;
  font-size: 21pt;
  height: 36px;
  line-height: 24pt;
}

input::-webkit-input-placeholder { /* WebKit browsers */
    color:    #2e6a8d;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #2e6a8d;
}
input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #2e6a8d;
}

#emblems-filter{
  border-top: 2px dotted #dddddd;
  border-bottom: 2px dotted #dddddd;
  text-align:center;
  margin-bottom:50px;
}

#emblems-filter li {
  width: 60px;
  height: 90px;
  display:inline-block;
  cursor: pointer;
}

#emblems-filter li.history.selected, #emblems-filter li.history:hover{background: url('../img/emblems/history_on.png') center no-repeat;}
#emblems-filter li.art.selected, #emblems-filter li.art:hover{background: url('../img/emblems/art_on.png') center no-repeat;}
#emblems-filter li.architecture.selected, #emblems-filter li.architecture:hover{background: url('../img/emblems/architecture_on.png') center no-repeat;}
#emblems-filter li.museums.selected, #emblems-filter li.museums:hover{background: url('../img/emblems/museums_on.png') center no-repeat;}
#emblems-filter li.shows.selected, #emblems-filter li.shows:hover{background: url('../img/emblems/shows_on.png') center no-repeat;}
#emblems-filter li.nature.selected, #emblems-filter li.nature:hover{background: url('../img/emblems/nature_on.png') center no-repeat;}
#emblems-filter li.shoppings.selected, #emblems-filter li.shoppings:hover{background: url('../img/emblems/shoppings_on.png') center no-repeat;}
#emblems-filter li.gastronomy.selected, #emblems-filter li.gastronomy:hover{background: url('../img/emblems/gastronomy_on.png') center no-repeat;}
#emblems-filter li.legends.selected, #emblems-filter li.legends:hover{background: url('../img/emblems/legends_on.png') center no-repeat;}
#emblems-filter li.cinema.selected, #emblems-filter li.cinema:hover{background: url('../img/emblems/cinema_on.png') center no-repeat;}
#emblems-filter li.specials.selected, #emblems-filter li.specials:hover{background: url('../img/emblems/nighttime_on.png') center no-repeat;}
#emblems-filter li.for_kids.selected, #emblems-filter li.for_kids:hover{background: url('../img/emblems/for_kids_on.png') center no-repeat;}
#emblems-filter li.accesible.selected, #emblems-filter li.accesible:hover{background: url('../img/emblems/accesible_on.png') center no-repeat;}
#emblems-filter li.nighttime.selected, #emblems-filter li.nighttime:hover{background: url('../img/emblems/nighttime_on.png') center no-repeat;}

#emblems-filter li.history{background: url('../img/emblems/history_off.png') center no-repeat;}
#emblems-filter li.art{background: url('../img/emblems/art_off.png') center no-repeat;}
#emblems-filter li.architecture{background: url('../img/emblems/architecture_off.png') center no-repeat;}
#emblems-filter li.museums{background: url('../img/emblems/museums_off.png') center no-repeat;}
#emblems-filter li.shows{background: url('../img/emblems/shows_off.png') center no-repeat;}
#emblems-filter li.nature{background: url('../img/emblems/nature_off.png') center no-repeat;}
#emblems-filter li.shoppings{background: url('../img/emblems/shoppings_off.png') center no-repeat;}
#emblems-filter li.gastronomy{background: url('../img/emblems/gastronomy_off.png') center no-repeat;}
#emblems-filter li.legends{background: url('../img/emblems/legends_off.png') center no-repeat;}
#emblems-filter li.cinema{background: url('../img/emblems/cinema_off.png') center no-repeat;}
#emblems-filter li.specials{background: url('../img/emblems/nighttime_off.png') center no-repeat;}
#emblems-filter li.for_kids{background: url('../img/emblems/for_kids_off.png') center no-repeat;}
#emblems-filter li.accesible{background: url('../img/emblems/accesible_off.png') center no-repeat;}
#emblems-filter li.nighttime{background: url('../img/emblems/nighttime_off.png') center no-repeat;}


.group {
  margin-bottom:4em;
  -webkit-box-shadow: 0 0px 6px #999;
  box-shadow: 0 0px 6px #999;
}

.group .emblems{
  margin: -30px 10px 0 0;
  height: 30px;
}

.group .emblems li {
  width: 30px;
  height: 30px;
  display:inline-block;
  float: right;
}

.group .emblems li.history{background: url('../img/emblems_light/history.png') center no-repeat;}
.group .emblems li.art{background: url('../img/emblems_light/art.png') center no-repeat;}
.group .emblems li.architecture{background: url('../img/emblems_light/architecture.png') center no-repeat;}
.group .emblems li.museums{background: url('../img/emblems_light/museums.png') center no-repeat;}
.group .emblems li.shows{background: url('../img/emblems_light/shows.png') center no-repeat;}
.group .emblems li.nature{background: url('../img/emblems_light/nature.png') center no-repeat;}
.group .emblems li.shoppings{background: url('../img/emblems_light/shoppings.png') center no-repeat;}
.group .emblems li.gastronomy{background: url('../img/emblems_light/gastronomy.png') center no-repeat;}
.group .emblems li.legends{background: url('../img/emblems_light/legends.png') center no-repeat;}
.group .emblems li.cinema{background: url('../img/emblems_light/cinema.png') center no-repeat;}
.group .emblems li.specials{background: url('../img/emblems_light/nighttime.png') center no-repeat;}
.group .emblems li.for_kids{background: url('../img/emblems_light/for_kids.png') center no-repeat;}
.group .emblems li.accesible{background: url('../img/emblems_light/accesible.png') center no-repeat;}
.group .emblems li.nighttime{background: url('../img/emblems_light/nighttime.png') center no-repeat;}



.group .quorum {
  font-family: 'Buenard', serif;
  height: 4em;
  margin: 10px 0px 0px 0px;
}

.group .quorum li {
  width: 13px;
  height: 40px;
  display: inline-block;
  line-height: 2em;
  padding-left: 2em;
  font-size: 15pt;
  font-weight: bold;
}

.group .quorum li.signed {background: url('../img/signed.png') left no-repeat;}
.group .quorum li.minimum {background: url('../img/min_quorum.png') left no-repeat;}


.group p{
  margin: 5px 20px;
  width:60%;
  float:left;
  height: 60px;
  overflow: hidden;
  font-family: 'Buenard', serif;
}

.group .time{
  margin-left: 40px;
  font-size: 15pt;
  color: #999;
  font-family: 'Buenard', serif;
}


/* river */
#river .row-fluid > div{
  position:relative;
}

#river .date{
  background: #12345c;
  color:white;
  position:absolute !important;
  padding: 17px 9px 0px 9px;
  top:-23px;
  left:-7px;
  line-height: 0.8;
  font-family: 'Buenard', serif;
  height: 33px;
}
#river .date .day{
  font-size:25pt;
  font-weight:bold;
  position: absolute;
  top: -2px;
}
#river .date .month{
  font-size:15pt;
}

#river h2{
  color:#12345c;
  text-transform:uppercase;
  font-weight:normal;
  font-size: 24pt;
  text-align:right;
  margin: 5px 10px;
  line-height: 1;
  font-family: 'Open Sans Condensed', sans-serif;
}
#river img{
  width:100%;
  background:url('../img/river_default.jpg') center no-repeat;
  margin: 0 !important;
}

.group .price{
  font-family: 'Buenard', serif;
  color: white;
  position: absolute;
  right: -11px;
  font-size: 25pt;
  text-align: center;
}

#river hr{
  margin:auto;
  width:90%;
  border-bottom: 1px dashed #999999;

}
.group .info{
  font-family: 'Buenard', serif;
  float:right;
  margin: 40px 20px;
  color:#4ead00;
  cursor: pointer;
}

.footer {
  font-family: 'Buenard', serif;
  width: 100%;
  font-size: 10pt;
  background: #3c3c3c;
  margin-top: 50px;
  height: 90px;
  padding: 20px 0px 20px 0px;
}

.footer  ul li a{
  color: #f3f3f3;
}

.footer .logo {
  margin-bottom: 20px;
  margin-top: 10px;
}

.footer ul {
  list-style: none;
}

.footer ul li {
  float: right;
  margin-right: 10%;
}

/*registration*/

.registration-card .inputJS{
  margin-top:20px;
}
/* password hidden component */
.wrapper-password{
  position:relative;
  height: 21px;
  width: 237px;
  display:inline-block;
}
.wrapper-password input{
  position:absolute;
  top:0px;
  left:0px;
}

#password input[type="checkbox"]{
  height:30px;
  margin-top: 20px;
  margin-left: 131px;

}
#password .check-view-password{
  position: relative;
  top: 11px;
  left: 20px;
  font-size: 11pt;
}
.registration-card label{
  /*float:left;
  width: 96px;
  text-align:right;
  margin-right: 35px;*/
  text-align: right;
  margin-right: 32px;
  width: 15%;
  display: inline-block;
}
.registration-card {
    -webkit-box-shadow: 0px 0px 7px 0px #ccc; /* Android 2.3+, iOS 4.0.2-4.2, Safari 3-4 */
    box-shadow: 0px 0px 7px 0px #ccc;
    margin-top: 34px;
}
.registration-card hr{
  border: 1px dashed #dddddd;
}
.registration-card-container{
    margin: 50px 30px auto 30px;
    /*width: 500px;*/
}

.registration-card-container input:not([type="checkbox"]){
  /*width: 300px;*/
  background: #eeeeee;
  border-color: #999;
  width: 70%;
}

.registration-card #submit{
  margin-top:19px;
  margin-bottom:19px;
}
.registration-card .text-terms{
  text-align:center;
}
.registration-card p a{
  text-decoration:underline;
  color: black;
}
/*end registration*/

/* profile */

#profile-page {
  margin-top: 4%;
}

#profile-page input[type="text"]{
  border: 2px #bfd1db dashed;
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#profile-page #name label,
#profile-page #imageprofile label,
#profile-page #email label,
#profile-page #phone label,
#profile-page #residence label,
#profile-page #license-number label,
#profile-page #work-area label
{
  display:none;
}

#profile-page #experience label{
  display: inline;
  margin-right: 20px;
}

#profile-page #experience input{
  width: 15%;
  display: inline;
}

#profile-page #imageprofile{
  height:350px;
  background: url('../img/upload_file.jpg') center no-repeat #e3e3e3;
  position : relative;
  text-align : center;
  overflow: hidden;
}

#profile-page .profile-groups{
  margin-top: 3%;
}


#profile-page .profile-groups .header{
  margin-bottom: 8%;
}


#imageprofile img{
  pointer-events: none;
}

.plusButton{
  background: url('../img/input-up-arrow.png') center no-repeat #e3e3e3;
  padding: 1px 7px;
}
.minusButton{
  background: url('../img/input-down-arrow.png') center no-repeat #e3e3e3;
  padding: 1px 7px;
}

#languages,#introductions{
  margin-top: 20px;
}


#languages .hidden, #addGroup-page .hidden{
  position:absolute;
}
#languages #select_languages_chzn{
  border: 2px #bfd1db dashed !important;
}

#introductions{
  position:relative;
}

#introductions textarea{
  border: 2px #bfd1db dashed;
  width: 100% !important;
  height: 100px;
}

#addGroup-page textarea{
  border: 2px #2C6686 dashed;
}

#introductions select{
  position:absolute;
  right:0px;
  top:-10px;
}


#addGroup-page #image img{
  max-height: 250px;
}

.qq-uploader{
  width: 125px;
  margin: auto;
}

#fineuploader-container {
  margin-top: 270px;
  display: block;
}

#addGroup-page {
  margin-top: 30px;
}

#addGroup-page input[readonly]{
  background-color: white;
}

#addGroup-page #image{
  height: 260px;
  background: url('../img/upload_file.jpg') center no-repeat #e3e3e3;
  position : relative;
  text-align : center;
  margin-bottom: 20px;
  overflow: hidden;
}

#addGroup-page #date input {
  width: 80%;
}

#addGroup-page #name input,
#addGroup-page #description textarea,
#addGroup-page #city input {
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#addGroup-page #description textarea {
  height: 100px;
}

#addGroup-page input[disabled]{
  border: 2px #bfd1db dashed  !important;
}

#addGroup-page input[type="text"],
#addGroup-page textarea{
  border: 2px #2C6686 dashed;
}

#addGroup-page #languages label,
#addGroup-page #minimum-quorum label,
#addGroup-page #maximum-quorum label,
#addGroup-page #time label,
#addGroup-page #duration label,
#addGroup-page #separation-days label,
#addGroup-page #price label{
  display: inline;
  margin-right: 20px;
}


#addGroup-page #date label,
#addGroup-page #name label,
#addGroup-page #image label,
#addGroup-page #description label,
#addGroup-page #city label{
  display: none;
}

#addGroup-page .row {
  margin-top: 20px;
}

#addGroup-page hr{
  border-top: 1px solid #000;
}

#addGroup-page input[type="checkbox"]{
  margin:10px;
}
#addGroup-page #languages{
  margin-bottom:20px;
}

#addGroup-page #minimum-quorum input[type="text"],
#addGroup-page #maximum-quorum  input[type="text"],
#addGroup-page #time  input[type="text"],
#addGroup-page #duration  input[type="text"],
#addGroup-page #separation-days  input[type="text"]{
  width: 20%;
}

/* ribbon style */

.ribbon-front {
  background-color: #4ead00;
  height: 30px;
  width: 106px;
  position: relative;
  left:0px;
  z-index: 2;
}

.ribbon-edge-topleft,
.ribbon-edge-topright,
.ribbon-edge-bottomleft,
.ribbon-edge-bottomright {
  position: absolute;
  z-index: 1;
  border-style:solid;
  height:0px;
  width:0px;
}

.ribbon-edge-topright,
.ribbon-edge-bottomright {
  left: 96px;
  border-color: transparent transparent transparent #06101C;
}

.ribbon-edge-bottomright {
  border-width: 0 0 8px 10px;
}

#profile-page input[type="text"]:focus,
#profile-page textarea:focus{
 border: 2px #005580 dashed;
 box-shadow: none;
 -webkit-box-shadow:none;
 -moz-box-shadow:none;
}


