<div class="container" id="addGroup-page">

  <span id="edit" style="display:none"></span>

  <div class="row">
    <div id="feedback" class="span12">
      <button type="button" class="close" data-dismiss="alert">×</button>
      The Group has been added
    </div>
  </div>

  <div class="row card-wrapper span9">
    <div id="card"></div>


    <div class="row">
        <div id="date" class="span3"></div>
        <div id="name" class="span6"></div>
    </div>

    <div class="row">
      <span id="image" class="span9"></span>
    </div>

    <div class="row">
      <span id="description" class="span9"></span>
    </div>

    <div class="row">
      <div id="city" class="span5"></div>
    </div>

    <hr/>

    <div id="languages"></div>

    <hr/>

    <div class="row">
      <span id="minimum-quorum" class="span4"></span>
      <span id="maximum-quorum" class="span4"></span>
    </div>

    <div class="row">
      <span id="time" class="span4"></span>
      <span id="duration" class="span4"></span>
    </div>

    <div class="row">
      <span id="separation-days" class="span9"></span>
    </div>

    <hr/>

    <div class="row">
      <ul id="emblems-filter" class="span9"></ul>
    </div>

    <div class="row">
      <span id="price" class="span6"></span>
    </div>

    <hr/>

    <button type="submit" id='submit' class="zz-btn">Save changes</button>

    </div>
  </div>
</div> <!-- /container -->