<p class="lead">
    Drag &amp; Drop notes to arrange order
</p>

<ul id="sortable">
	<% @notes.each do |note| %>
		<li class="ui-state-default" id="<%= note.getId() %>"><%= note.getTitle() %></li>
	<% end %>
</ul>

<div id='hiddenForm'>
	<form method='POST' action='/generate' name='arrange-form' id='arrange-form'>
	  <fieldset>
	    <input name='publicUrl' id='publicUrl' value='<%= @publicUrl %>'/>
	    <input name='sortedIdsStr' id='sortedIdsStr' />
	  </fieldset>
	</form>
</div>

<button id="generate" class="btn arrange" onclick="$('#sortedIdsStr').val($('#sortable').sortable('toArray').toString());$('#arrange-form').submit();">
	<div id="imgBtnDiv" width="15px" height="15px">
		<img src='img/slides.png' alt='Generate slideshow' id="submitImg"/></div>
</button>

  <script>
  	window.onload = function(){
  		$("#sortable").sortable();
  		$("#generate").click(function(){
  					$('#sortedIdsStr').val($('#sortable').sortable('toArray').toString());
  					$('#arrange-form').submit();
				      $('#submitImg').css('visibility', 'hidden');
				      $('#imgBtnDiv').spin(APP.spinOpts);
  				});
  	};
  </script>

