<div class="footer">
    <ul>
        <li>
            <a class="brand logo" href="index.html">
                <img src="img/logo-invert.png" width='100' height='97'/>
            </a>
        </li>

        <li>
          <a href="areyouaguide.html" data-i18nkey='zizerones.home.areyouaguide'>Are you a Guide?</a><br>
          <a href="whatisthis.html" data-i18nkey='zizerones.home.whatisthis'>What is this?</a><br>
          <a href="howdoesitwork.html" data-i18nkey='zizerones.home.howdoesitwork'>How does it work?</a><br>
          <a href="aboutus.html" data-i18nkey='zizerones.home.aboutus'>About Us</a><br>
        </li>
    </ul>
</div>