<footer>
  <section id='authors'>Done with love  by 
    <a href='http://twitter.com/XaV1uzz' target='_blank'>&copy;XaV1Uzz</a>
    &amp; 
    <a href='http://twitter.com/olareoun' target='_blank'>&copy;olareoun</a>
     for the 
    <a href='https://www.hackerleague.org/hackathons/evernote-devcup-2013/' target='_blank'>Evernote Devcup 2013</a>
  </section>
  <section id='licence'>Notes2reveal.js is licensed under a 
    <a href='http://opensource.org/licenses/GPL-3.0' target='_blank'> GNU GENERAL PUBLIC LICENSE</a>
    and you can get the code at
    <a href='http://github.com/olareoun/Tolo-Photo-Diary' target='_blank'>our github repository</a>
  </section>
  <div class="row">
  <section id='colaborators' class='span4'>With a lot of help from:
    <ul>
      <li>
        <a href='http://boingboing.net/assets_mt/2010/08/23/monkey-goat.gif' target='_blank'>David González
        </a>
      </li>
      <li>
        <a href='http://www.eferro.net/' target='_blank'>Eduardo Ferro Aldama
        </a>
      </li>
      <li>
        <a href='http://twitter.com/jalbertopaz' target='_blank'>Jesús Alberto Paz Jiménez
        </a>
      </li>
      <li>
        <a href='http://boingboing.net/assets_mt/2010/08/23/monkey-goat.gif' target='_blank'>Jokin Aspiazu
        </a>
      </li>
      <li>
        <a href='http://boingboing.net/assets_mt/2010/08/23/monkey-goat.gif' target='_blank'>Jonathan López
        </a>
      </li>
      <li>
        <a href='https://twitter.com/pedro_esteban' target='_blank'>Pedro Esteban Moral
        </a>
      </li>

    </ul>
    
  </section>


  <section id='software' class='span4'>We have used this awesome software and libraries: 
    <ul>
      <li>
        <a href='http://www.sinatrarb.com' target='_blank'>
          Reveal.js
        </a> HTML presentations made easy
      </li>
      <li>
        <a href='http://www.sinatrarb.com' target='_blank'>
          Sinatra
        </a> for quickly creating web applications in Ruby with minimal effort
      </li>
      <li>
        With 
        <a href='http://jquery.com/' target='_blank'>
          Jquery
        </a> we write less doing more
      </li>
      <li>
        We have used 
        <a href='http://twitter.github.io/bootstrap/' target='_blank'>
          Twitter Bootstrap 
        </a> for faster and easier web development.
      </li>
      <li>
        We arrange slides using
        <a href='http://jqueryui.com/' target='_blank'>
          Jquery-UI
        </a>
      </li>
      <li>
        <a href='http://fgnass.github.io/spin.js/' target='_blank'>
          Spin.js
        </a> for a cool activity indicator
      </li>
      <li>
        <a href='https://github.com/voormedia/crafty' target='_blank'>
          Crafty
        </a> has allowed us to handcraft HTML in pure Ruby
      </li>

    </ul>
  </section>

  <section id='tools' class='span4'>Our tools for this project:
   <ul>
      <li>
        <a href='http://github.com/' target='_blank'>
          Github
        </a> is powerful collaboration, code review, and code management for open source and private projects
      </li>
      <li>
        <a href='http://www.heroku.com' target='_blank'>
          Heroku
        </a> is our cloud application platform
      </li>
      <li>
        <a href='http://travis-ci.org/' target='_blank'>
          Travis
        </a>is a Free Hosted Continuous Integration Platform for the Open Source Community
      </li>
      <li>
        <a href='https://chrome.google.com/webstore/detail/chrome-remote-desktop/' target='_blank'>
          Chrome Desktop Remote
        </a> has allowed us to do some pair programming
      </li>
      <li>
        <a href='http://www.sublimetext.com/' target='_blank'>
          Sublime Text
        </a>  is a sophisticated text editor for code, markup and prose
      </li>
    </ul>
  </section>
</div>

  <script src="js/vendor/jquery-1.8.2.min.js"></script>
  <script src="js/vendor/bootstrap.js"></script>
  <script src="js/vendor/jquery-ui.js"></script>
  <script src="js/vendor/spin.min.js"></script>
  <script src="js/vendor/jquery-spin.js"></script>
  <script src="js/spin-opts.js"></script>

</footer>