<!DOCTYPE html>
<html lang="en">
  <%= erb :header %>
<body>
  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
	<div class="row">
		<div class="span8 offset4">

	      <div class="hero-unit">
	        <h1>Notes2Reveal</h1>
	        <p class="lead">Easily export Evernote notebooks to reveal.js presentations!!</p>
	      </div>

	  <%= yield %>
	  <%= erb :footer %>
	</div>
  </div>
</body>


</html>
