  <div class="container" >
    <form method='POST' action='/generate' name='json_form'>
      <textarea name='json_field'>
      </textarea>
      <button type='submit' id="submit" >submit</button>
    </form>
  </div> <!-- /container -->
