<% if !@message.empty? %>
	<div class="alert">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<strong><%= @message %></strong>
	</div>
<% end %>
<form method='POST' action='/arrange' name='url_form' id='url_form'>
  <fieldset>
    <legend>Export from Evernote public notebook url</legend>
    <label>Public Notebook Url</label>
    <input placeholder="Insert Url" name='publicUrl' id='publicUrl'/>
    <button type='submit' id="submit" class="btn">arrange</button>
  </fieldset>
</form>
