<% if !@message.empty? %>
	<div class="alert">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<strong><%= @message %></strong>
	</div>
<% end %>
<form method='POST' action='/generate' name='json_form' id='json_form'>
  <fieldset>
    <legend>Export from Json</legend>
    <label>Json</label>
    <textarea placeholder="Insert json" name='json_field' cols="100" rows="5" ></textarea>
    <button type='submit' id="submit" class="btn">submit</button>
  </fieldset>
</form>
