	<div id="landing">
		<div class="container" >
		</div>
	</div>
	
  <div class="container" >
		<div class="row">
			<div class="span12 well">
        <div class="row ">
          <span id="place-filter" class="span6"></span>
          <div class="span3" id="wrapper-date-filter">
            <span id="date-filter" ></span>
            <div class="icon"></div>
          </div>
          <a href="index.html" id="clear-filters" class="span1">clear</a>
          <span id="search-coordinator"></span>
        </div>
        <div class="row">
          <span id="language-filter" class="span6 form-inline"></span>
        </div>
			</div>
		</div>

		<div class="row">
			<div class="span12">
				<ul id="emblems-filter"></ul>
			</div>
		</div>

    <div id="river">
    </div>
  </div> <!-- /container -->
