<% if !@message.empty? %>
	<div class="alert">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<strong><%= @message %></strong>
	</div>
<% end %>
<p class="pull-right">
  <a href="http://evernote.com/evernote/guide/web/#7" target='_blank'>
    What is an evernote public notebook?
  </a>
</p>

<form method='POST' action='/arrange' name='url_form' id='url_form'>
  <fieldset>
    <label>Public Evernote notebook URL</label>
    <div class="input-append">
    <input placeholder="http://www.evernote.com/pub/user/notebook" name='publicUrl' id='publicUrl'/>
    <button type='submit' id="submit" class="btn arrange">
      <img src='img/arrange.png' alt='Arrange'/>
    </button>
    <div>
  </fieldset>
</form>

<p class="pull-right">
  <a href="http://evernote.com/evernote/guide/web/#7" target='_blank'>
    Where can i find the URL?
  </a>
</p>