<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="index.html">
        <img src="img/logo.png" width='100' height='97'/>
      </a>
      <ul class="nav">
        <li><a href="areyouaguide.html" data-i18nkey='zizerones.home.areyouaguide'>Are you a Guide?</a></li>
        <li><a href="whatisthis.html" data-i18nkey='zizerones.home.whatisthis'>What is this?</a></li>
        <li id="addGroup"><a href="addgroup.html" >AddGroup</a></li>
        <li id="login"></li>
        <li id="register" class="button secondary"><a href="registration.html" >Registration</a></li>
      </ul>

    </div>
  </div>
</div>

  <!-- modales -->
  <div id="modal-login">
    <div class="modal-body">
      <button type="button" id="modal-close" class="close" data-dismiss="modal" aria-hidden="true">
      </button>
      <div id="modal-feedback" class="alert hidden">
        <button type="button" class="close" data-dismiss="alert">×</button>
      </div>
      <span id="modal-login-field"></span>
      <span id="modal-password-field"></span>
      <span>
        <button id="modal-button" class="zz-btn"></button>
      </span>
    </div>
  </div>
