<div id="profile-page" class ="container">
  <div class="row">
    <div id="feedback" class="span 12">
        <button type="button" class="close" data-dismiss="alert"></button>
    </div>
  </div>
  <div class="row">
    <div id="card" class="profile span12">
        <div class="row">
          <div id="imageprofile" class="span4"></div>

          <div class="span8">
            <span id="name"></span>
            <hr>
            <span id="email"></span>
            <span id="phone"></span>
            <hr>
          </div>

        <div class="row">
          <div class="span4">
            <span id="residence"></span>
            <span id="license-number"></span>
          </div>
          <div class="span4">
            <span id="work-area"></span>
            <span id="experience"></span>
          </div>
        </div>
        </div>


        <div class="row">
          <span id="languages" class="span4"></span>
          <span id="introductions" class="span8"></span>
        </div>
      </div>
    </div>

    <div class="profile-groups span12">
      <div class="header" data-i18nkey='zizerones.guide.groupslist'></div>

      <div class="row">
        <div id="river"></div>

      </div>
    </div>

</div>

