<span id="registration-page"></span>

<div id="feedback">
  <button type="button" class="close" data-dismiss="alert">×</button>
</div>
<div class="container">
<div class="row">
  <div id="card" class="offset3 span6 registration-card">
    <div class="registration-card-container">
      <div id="name"></div>
      <div id="email"></div>
      <div id="password"></div>
    </div>
    <hr>
      <button  id='submit' class="zz-btn signUp"></button>
      <div class="text-terms">
        <span data-i18nkey='zizerones.registration.agreement'></span>
        <a data-i18nkey='zizerones.registration.terms' href="terms.html"></a>
      </div>
  </div>
</div>
</div>



